* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Create container that is 600px by 1000px, each artist box will be 200px by 200px.*/
/* Will have to flex wrap the artist boxes in the container class*/