* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-title {
  text-align: center;
}

.page-title > h1 {
  padding-bottom: 20px;
  font-size: 40px;
}

.search-results {
  font-size: 20px;
  margin-bottom: 20px;
}

.clear-search-button {
  width: 200px;
  height: 30px;
  background-color: rgb(13, 233, 137);
  /* color: #ffffff; */
}

.fig-caption {
  font-size: 15px;
  margin-bottom: 10px;
}

.remove-song-button {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: rgb(7, 241, 222);
}

.form-field {
  text-align: center;
}

.input-field {
  margin-bottom: 30px;
}

.artist-search {
  width: 500px;
  height: 30px;
}

.button-search {
  width: 100px;
  height: 30px;
}

.song-info-container {
  width: fit-content;
  height: 650px;
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
}

.artist-box {
  width: 200px;
  height: 200px;
  text-align: center;
  padding: 10px;
}

.artist-box > p {
  font-size: 12px;
}

.artist-box > h4 {
  font-size: 15px;
}
